
.expense-item__description {
  display: flex;
  width:90%;
  justify-content: space-between;
 
}

.expense-item__description h2{
 color: rgb(250, 13, 52);
 width: 40%;
 
}

  .expense-item__price {
    display: flex;
    border:2px solid blue;
    height:80%;
    width:100px;
    background-color: rgb(117, 27, 207);
    color: white;
    border-radius: 12px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .expense-item__location{
    display: flex;;
   border: 2px solid rgb(245, 245, 245);
   background-color: rgb(15, 244, 152);
   color: rgb(132, 108, 108);
   font-weight: bold;
   width:25%;
   border-radius: 12px;
   align-items: center;
   justify-content: center;
   
   
}


